html, body {
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: [villages] 40% [header] 40% [resources] 20%;

  background-color: #316735;
  height: 100vh;
}

.Reserve-Armies {
  display: flex;
  flex-direction: row;
}

.Army {
  margin: 20px;
  border: 1px solid black;
  padding: 5px;
  background-color: #909090;
}

.Villages {
  display: flex;
  flex-direction: row;
}

.Village {
  margin: 20px;
  border: 1px solid black;
  padding: 5px;
  background-color: #909090;
  width: 80px;
}
